html body {background: black;
	margin-top: 50px;
 }
 div.container {background: white;
	width: 600px;
	margin: auto;
	padding-top: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.post {background: white;
	margin: 14px;
 }
div.post img { 
	width: 100%; 
}
div.post p {
	padding: 8px;
	margin: 0;
}
div.post .post-header div:first-child {
	display: inline-block;
	width: 80%;
}
div.post .post-header div:last-child {
	display: inline-block;
	width: 20%;
	text-align: center-right;
}